:root > * {
  --md-primary-fg-color: #165a97;
  --md-accent-fg-color: #165a97;
  --md-tooltip-width: fit-content;
}

.md-grid {
  max-width: 75rem;
}

/* Make table rows smaller by removing some padding */
.md-typeset table:not([class]) td {
  padding: .5em 1em !important;
}

h2 {
  clear: both;
}

figcaption {
  max-width: 48rem !important;
  clear: both;
}

/* Flexbox grid thingy */
.flex-container {
  display: flex;
  justify-content: space-between;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
/* @media (max-width: 1220px) { */
@media (max-width: 1080px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-item {
  text-align: center;
  flex: 1 1 0;
  padding: 10px 25px;
  margin: 5px;
  border: 1px dashed #ccc;
}

.flex-item > h3 {
  font-size: 150%;
  margin-top: 10px;
}

.flex-item > p {
  text-align: justify;
}

#iconbox > p {
  text-align: center;
}

#iconbox > strong {
  font-size: 150% !important;
}

.flex-item-headline {
  font-size: larger;
}
